* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 300;
	src: url('./assets/fonts/Montserrat-Light.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: url('./assets/fonts/Montserrat-Bold.ttf');
}

body {
	color: #444;
	--primary-color: #00acff;
}
